@charset "utf-8";
/*
 CSS Document  top.css
 
 STONE_RISE　ページ　全体のスタイル設定
 
 */
 
 /*		スタイル	基本設定　ここから			*/
 
html,body,h1,h2,h3,h4,h5,h6,p,pre,address,ul,li,ol,dl,dt,dd,tabel,th,td,blockquote,q,div {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	border: none;
}

 a:link {
	color: #333; 
	text-decoration: none;
}

a:visited {
	color: #30F;
	text-decoration: none;
}

a:hover {
	color: #FC6;
	text-decoration: none;
}

a:active {
	color: #C63;
	text-decoration: none;
}

body {
	font-size: 100%;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: normal;
	color: #333;
	line-height: 1.5;
	letter-spacing: 0.1em;
	text-align: center;
	background-image: url(../images/body_bg_02_03.png);
}

h1,h2,h3,h4,h5,h6,p,ul,li,dl,dt,dd,a,address{
	text-align: left;
}


#wrapper {
	width: 750px;
	margin: 5px auto;
	padding: 0;
	position: relative;
	background: #fff3d5;
}

.clearfix:after {
	content:".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	margin-bottom: 19px; 
}

.clearfix {
	display: inline-block;
}

/* hide macie \*/

*html .clearfix {
	height: 1px;
}

.clearfix {
	display: block;
}



 /*		スタイル	基本設定　ここまで			*/

 /*			header　スタイル　ここから			*/
 
#header {
	width: 100%;
	background: #fff;
	height: 298px;
	border-bottom: 2px solid #666;
}

#logo {
	margin: 0;
	padding: 0;
	background: url(../../images/top_page/logo_onMouse.png) no-repeat left top;
}

#logo a {
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 178px;
	height: 0 !important;
	height /**/: 85px;
	padding-top: 85px;
	background: url(../../images/top_page/logo.png) no-repeat left top;
}

#logo a:hover {
	background-image: none;
	background-color: transparent;
}

/*----------------トップイメージ　設定-------------------*/

#topImage {
	margin-top: 40px;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
}

/*-------サイトマップ　設定-------*/

#siteMap {
	display: block;
	position: absolute;
	height: 18px;
	width: 100px;
	top: 10px;
	left: 640px;
	font-size: 65%;
	border-bottom: 2px solid #ffbf5a;
	padding: 0 0 0 20px;
	background: #fff url(../images/top_page/sitemap-arrow.png) no-repeat left center;
}



/*				Gnavi　スタイル　ここから			*/

#Gnavi {
	width: 750px;
	position: absolute;
	top: 85px;
	left: 0;
}

#Gnavi ul {
	width: 750px;
	margin: 0;
	padding: 0;
}

#Gnavi li {
	float: left;
	width: 150px;
	height: 30px;
	margin: 0;
	padding: 0;
}

/*----------------------------webページ設定　設定-------------------------------*/

#webPage span  {
	display: block;
	overflow: hidden;
	width: 150px;
	height: 0 !important;
	height /**/: 30px;
	padding-top: 30px;
	background: url(../images/Gnavi/image_01/Gnavi_image_web.png) top left no-repeat;
}


/*-----------------------Illust　設定-----------------------*/

#illustPage  span {
	display: block;
	overflow: hidden;
	width: 150px;
	height: 0 !important;
	height /**/: 30px;
	padding-top: 30px;
	background: url(../images/Gnavi/image_01/Gnavi_image_illust.png) top left no-repeat;
}

/*-----------------------proflie　設定-----------------------*/

#profilePage  span {
	display: block;
	overflow: hidden;
	width: 150px;
	height: 0 !important;
	height /**/: 30px;
	padding-top: 30px;
	background: url(../images/Gnavi/image_01/Gnavi_image_profile.png) top left no-repeat;
}

/*-----------------------Illust　設定-----------------------*/

#contactPage span {
	display: block;
	overflow: hidden;
	width: 150px;
	height: 0 !important;
	height /**/: 30px;
	padding-top: 30px;
	background: url(../images/Gnavi/image_01/Gnavi_image_contact.png) top left no-repeat;
}
 
 /*				Gnavi　スタイル　ここまで			*/
 
 /*			header　スタイル　ここまで			*/

#container {
	width: 738px;
	margin: 15px 4px 30px;
	position: relative;
	background: #fff;
	border: 2px solid #999;
}

/*-------------左側の設定　ここから------------*/

#contents {
	width: 720px;
	margin: 15px 8px 0 8px ;
}

#notice {
	width: 715px;
	margin: 15px 0 5px 0;
	padding: 0 0 0 15px;
	font-size: 90%;
	border-left: 5px solid #09F;
	border-bottom: 2px solid #ddd; 
}

#blogLink {
	width: 695px;
	margin: 0 0 0 20px;
	font-size: 90%;
	color: #F06;
}


/*------------webサイト製作　ここから--------------*/

/*------------webサイト製作　ここまで--------------*/
/*------------イラスト製作　ここから--------------*/

/*------------イラスト製作　ここまで--------------*/

/*---------------------プロフィール設定　ここから----------------------*/

/*---------------------プロフィール設定　ここまで----------------------*/
/*------------更新情報　設定　ここから----------*/

/*---webdsign　アイコン　の指定があるときは　id　無し---*/


/*--Illust　アイコン　の指定の場合 id名 IllustrationUp--*/



/*------------更新情報　設定　ここまで----------*/

/*-------------左側の設定　ここまで------------*/


/*------------ブログの設定　ここから------------*/




/*-----------ブログのリンク　設定　ここから----------*/

#gotoBlog {
	position: absolute;
	width: 180px;
	top: 40px;
	left: 30px;
}

*html #gotoBlog {
	position: absolute;
	width: 180px;
	top: 30px;
	left: 30px;
}

/*----IE hack----*/

*html #gotoBlog {
	margin: 10px 0 0 0;
}

#gotoBlog li {
	float: left;
	width: 30px;
	height: 30px;
	margin: 0 10px 0px 0;
	padding: 0;
}

/*---------pixiv　設定　ここから----------*/

#Pixiv a{
	display: block;
	width: 30px;
	overflow: hidden;
	height: 0 !important;
	height /**/ : 30px;
	padding-top: 30px;
	background: url(../../images/footer/footer_blog_navi_pixiv.png) no-repeat left top;
}

#Pixiv a:visited {
	background-position: 0 0px;
}
#Pixiv a:hover {
	background-position: 0 -30px;
}
#Pixiv a:active {
	background-position: 0 -60px;
}

/*---------------ameba　設定　ここから---------------*/

#Ameba a{
	display: block;
	width: 30px;
	overflow: hidden;
	height: 0 !important;
	height /**/ : 30px;
	padding-top: 30px;
	background: url(../../images/footer/footer_blog_navi_ameba.png) no-repeat left top;
}

#Ameba a:visited {
	background-position: 0 0px;
}
#Ameba a:hover {
	background-position: 0 -30px;
}
#Ameba a:active {
	background-position: 0 -60px;;
}

/*------------facebook　設定　ここから------------*/

#Facebook a{
	display: block;
	width: 30px;
	overflow: hidden;
	height: 0 !important;
	height /**/ : 30px;
	padding-top: 30px;
	background: url(../../images/footer/footer_blog_navi_facebook.png) no-repeat left top;
}

#Facebook a:visited {
	background-position: 0 0px;
}
#Facebook a:hover {
	background-position: 0 -30px;
}
#Facebook a:active {
	background-position: 0 -60px;;
}

/*----------------twitter　設定　ここから----------------*/
#twitter a{
	display: block;
	width: 30px;
	overflow: hidden;
	height: 0 !important;
	height /**/ : 30px;
	padding-top: 30px;
	background: url(../../images/footer/footer_blog_navi_twitter.png) no-repeat left top;
}

#twitter a:visited {
	background-position: 0 0px;
}
#twitter a:hover {
	background-position: 0 -30px;
}
#twitter a:active {
	background-position: 0 -60px;;
}


/*-----------ブログのリンク　設定　ここまで----------*/

/*------------ブログの設定　ここまで------------*/

 /*--------------------トップページ　メインコンテツ　　設定　ここまで--------------------*/



 /*----------------footer　エリア　設定　ここまで-----------------*/
 
#footer {
	background-image: url(../images/top_page/footer_bg.jpg);
	background-repeat: no-repeat;
	clear: both;
	height: 80px;
	width: 750px;
	position: relative;
}

/*-------------footer navi　設定　ここから--------------*/

#footer #footerNavi {
	margin-top: 0px;
	margin-left: 20px;
	padding-top: 7px;
}

#footerNavi li {
	float: left;
	display: block;
	height: 15px;
	width: 85px;
	margin-right: 20px;
	font-size: 65%;
	color: #fff;
}

#footerNavi li a {
	display: block;
	height: 15px;
	width: 100px;
	background: url(../images/top_page/footer_navi_arrow.png) no-repeat left center;
	padding: 3px 0 0 15px;
	color: #fff;
}

#footerNavi li a:hover {
	color: #FC6;
}



/*-------------footer navi　設定　ここまで--------------*/

/*-------------------コピーライト　設定　ここから---------------------------*/

#copy {
	position: absolute;
	top: 55px;
	left: 380px;
}


