/* default.css */
/* 2015-06-16 taiti */
@charset "utf-8";

/* logo_header　ロゴの設定 */
.logo_header {
	padding: 8px 15px;
}

.header_title {
  margin: 70px 0 20px;
  font-size: 200%;
}


/* サイト制作の説明 */
.web_site {
	margin: 40px 0 10px 0;
	font-size: 150%;
	font-weight: bold;
}

/* site view btnの設定 */
.site_view {
	margin: 10px 0 0 0;
}

/* sns iconの設定 */
.footer_sns {
	margin: 0 0 20px -5px;
}

.sns_link {
	padding-left: 0;
}

/* page topへ戻るボタンの設定 */
#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 77%;
}
#page-top a {
    background: #666;
    text-decoration: none;
    color: #fff;
    width: 100px;
    padding: 10px 0;
    text-align: center;
    display: block;
    border-radius: 5px;
}
#page-top a:hover {
    text-decoration: none;
    opacity: 0.5;
}
