/* default.css */
/* 2015-06-16 taiti */
@charset "utf-8";

/* logo_header　ロゴの設定 */
.logo_header {
	padding: 8px 15px;
}

.header_title {
  margin: 70px 0 20px;
  font-size: 200%;
}


/* サイト制作の説明 */
.web_site {
	margin: 40px 0 10px 0;
	font-size: 150%;
	font-weight: bold;
}

/* site view btnの設定 */
.site_view {
	margin: 10px 0 0 0;
}

