@charset "utf-8";
/*
 CSS Document  top.css
 
 STONE_RISE　ページ　全体のスタイル設定
 
 */

/*---------------スターハック　エリア　ここから--------------*/
 
*html .illustrationArea {
	margin: 10px 0 0 0;
}
 
 /*----------------スターハック　エリア　ここまで-----------------*/
/*------------------illustファイル　基本設定　ここから------------------*/

#container {
	width: 720px;
	margin: 10px 15px 30px;
}

#contents {
	float: left;
	width: 550px;
	background: #fff;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	border-bottom: 2px solid #ccc;
	margin: 0px;
	padding: 0 0 30px 0;
}

/*------------------illustファイル　基本設定　ここから------------------*/

/*------------------メインコンテンツ　左側　設定　ここから-------------------*/

.illustrationArea {
	width: 530px;
	height: 190px;
	margin: 10px 0 0 10px;
	background: url(../images/Illustration_page/Illustration_page_main_bg.png) no-repeat left top;
}

.illustrationArea h3 {
	margin: 0 0 0 0;
	padding: 10px;
}

.illustrationArea ul {
	width: 530px;
	margin: 0px 0px 0 10px;
	padding: 0 0px 0 0;
}

.illustrationArea ul li {
	float: left;
	width: 120px;
	height: 110px;
	margin: 0 0 0 0;
	padding: 0 10px 0 0;
	font-size: 50%;
}

/*---------------------イラスト　リンク　設定　ここから----------------------*/

#chritmasIllust a {
	display: block;
	width: 120px;
	overflow: hidden;
	height: 0 !important;
	height /**/: 110px;
	padding-top: 110px;
	margin: 0;
	background: url(../images/Illustration_page/Ilust_aicon/Illustration_page_main_aicon_chritmas.jpg) no-repeat left top;
}

#chritmasIllust a:hover {
	background-position: 0 -110px;
}

#chritmasIllust a:active {
	background-position: 0 -220px;
}

/*------------------サンタイラスト　設定　ここから-------------------*/

#santaIllust a {
	display: block;
	width: 120px;
	overflow: hidden;
	height: 0 !important;
	height /**/: 110px;
	padding-top: 110px;
	margin: 0;
	background: url(../images/Illustration_page/Ilust_aicon/Illustration_page_main_my.jpg) no-repeat left top;
}

#santaIllust a:hover {
	background-position: 0 -110px;
}

#santaIllust a:active {
	background-position: 0 -220px;
}

/*--------------------年賀状　イラスト　設定　ここから--------------------*/

#postcoadIllust a {
	display: block;
	width: 120px;
	overflow: hidden;
	height: 0 !important;
	height /**/: 110px;
	padding-top: 110px;
	margin: 0;
	background: url(../images/Illustration_page/Ilust_aicon/Illustration_page_main_postcard.jpg) no-repeat left top;
}

#postcoadIllust a:hover {
	background-position: 0 -110px;
}

#postcoadIllust a:active {
	background-position: 0 -220px;
}

/*--------------------ワインラベル　設定　ここから---------------------*/

#wainlabel a {
	display: block;
	width: 120px;
	overflow: hidden;
	height: 0 !important;
	height /**/: 110px;
	padding-top: 110px;
	margin: 0;
	background: url(../images/Illustration_page/Ilust_aicon/Illustration_page_main_label.jpg) no-repeat left top;
}

#wainlabel a:hover {
	background-position: 0 -110px;
}

#wainlabel a:active {
	background-position: 0 -220px;
}

/*--------------------halloween　イラスト　設定　ここから---------------------*/

#halloweenIllust a {
	display: block;
	width: 120px;
	overflow: hidden;
	height: 0 !important;
	height /**/: 110px;
	padding-top: 110px;
	margin: 0;
	background: url(../images/Illustration_page/Ilust_aicon/Illustration_page_main_hrowin.jpg) no-repeat left top;
}

#halloweenIllust a:hover {
	background-position: 0 -110px;
}

#halloweenIllust a:active {
	background-position: 0 -220px;
}

/*------------------ポケモン　イラスト　設定　ここから------------------*/

#pokemon a {
	display: block;
	width: 120px;
	overflow: hidden;
	height: 0 !important;
	height /**/: 110px;
	padding-top: 110px;
	margin: 0;
	background: url(../images/Illustration_page/Ilust_aicon/Illustration_page_main_pokemon.jpg) no-repeat left top;
}

#pokemon a:hover {
	background-position: 0 -110px;
}

#pokemon a:active {
	background-position: 0 -220px;
}

/*-------------アックス　フレグランス　設定　ここから-------------*/

#axe a {
	display: block;
	width: 120px;
	overflow: hidden;
	height: 0 !important;
	height /**/: 110px;
	padding-top: 110px;
	margin: 0;
	background: url(../images/Illustration_page/Ilust_aicon/Illustration_page_main_axe.jpg) no-repeat left top;
}

#axe a:hover {
	background-position: 0 -110px;
}

#axe a:active {
	background-position: 0 -220px;
}

/*---------------うるアップ　コラーゲン　設定　ここから----------------*/

#collagen a {
	display: block;
	width: 120px;
	overflow: hidden;
	height: 0 !important;
	height /**/: 110px;
	padding-top: 110px;
	margin: 0;
	background: url(../images/Illustration_page/Ilust_aicon/Illustration_page_main_up.jpg) no-repeat left top;
}

#collagen a:hover {
	background-position: 0 -110px;
}

#collagen a:active {
	background-position: 0 -220px;
}

/*----------------------cdジャケット裏　設定　ここから----------------------*/

#cdBack a {
	display: block;
	width: 120px;
	overflow: hidden;
	height: 0 !important;
	height /**/: 110px;
	padding-top: 110px;
	margin: 0;
	background: url(../images/Illustration_page/Ilust_aicon/Illustration_page_main_cd.jpg) no-repeat left top;
}

#cdBack a:hover {
	background-position: 0 -110px;
}

#cdBack a:active {
	background-position: 0 -220px;
}

/*----------------------CDジャケット　表　設定　ここから----------------------*/

#cdFront a {
	display: block;
	width: 120px;
	overflow: hidden;
	height: 0 !important;
	height /**/: 110px;
	padding-top: 110px;
	margin: 0;
	background: url(../images/Illustration_page/Ilust_aicon/Illustration_page_main_cd_title.jpg) no-repeat left top;
}

#cdFront a:hover {
	background-position: 0 -110px;
}

#cdFront a:active {
	background-position: 0 -220px;
}

/*-------------------CDジャケット　中　設定　ここから---------------------*/

#cdIn a {
	display: block;
	width: 120px;
	overflow: hidden;
	height: 0 !important;
	height /**/: 110px;
	padding-top: 110px;
	margin: 0;
	background: url(../images/Illustration_page/Ilust_aicon/Illustration_page_main_cd_photo.jpg) no-repeat left top;
}

#cdIn a:hover {
	background-position: 0 -110px;
}

#cdIn a:active {
	background-position: 0 -220px;
}

/*----------------CDジャケット　中帯　設定　ここから-----------------*/

#cdInside a {
	display: block;
	width: 120px;
	overflow: hidden;
	height: 0 !important;
	height /**/: 110px;
	padding-top: 110px;
	margin: 0;
	background: url(../images/Illustration_page/Ilust_aicon/Illustration_page_main_cd_side.jpg) no-repeat left top;
}

#cdInside a:hover {
	background-position: 0 -110px;
}

#cdInside a:active {
	background-position: 0 -220px;
}

/*-------------デッサン　ブーツ　設定　ここから-------------*/

#boots a {
	display: block;
	width: 120px;
	overflow: hidden;
	height: 0 !important;
	height /**/: 110px;
	padding-top: 110px;
	margin: 0;
	background: url(../images/Illustration_page/Ilust_aicon/Illustration_page_main_sketch_brut.jpg) no-repeat left top;
}

#boots a:hover {
	background-position: 0 -110px;
}

#boots a:active {
	background-position: 0 -220px;
}

/*--------------人体　女性　デッサン　設定　ここから----------------*/

#womanSketch a {
	display: block;
	width: 120px;
	overflow: hidden;
	height: 0 !important;
	height /**/: 110px;
	padding-top: 110px;
	margin: 0;
	background: url(../images/Illustration_page/Ilust_aicon/Illustration_page_main_sketch_woman.jpg) no-repeat left top;
}

#womanSketch a:hover {
	background-position: 0 -110px;
}

#womanSketch a:active {
	background-position: 0 -220px;
}

/*----------------基本の形　デッサン　ここから------------------*/

#practiceSketch a {
	display: block;
	width: 120px;
	overflow: hidden;
	height: 0 !important;
	height /**/: 110px;
	padding-top: 110px;
	margin: 0;
	background: url(../images/Illustration_page/Ilust_aicon/Illustration_page_main_sketch_form.jpg) no-repeat left top;
}

#practiceSketch a:hover {
	background-position: 0 -110px;
}

#practiceSketch a:active {
	background-position: 0 -220px;
}

/*---------------デッサン　人体　パーツ　設定　ここから---------------*/

#partsSketch a {
	display: block;
	width: 120px;
	overflow: hidden;
	height: 0 !important;
	height /**/: 110px;
	padding-top: 110px;
	margin: 0;
	background: url(../images/Illustration_page/Ilust_aicon/Illustration_page_main_sketch_part.jpg) no-repeat left top;
}

#partsSketch a:hover {
	background-position: 0 -110px;
}

#partsSketch a:active {
	background-position: 0 -220px;
}

/*----------------------ページ　トップへのリンク　設定　ここから----------------------*/

.gotoTop {
	width: 150px;
	height: 20px;
	margin: 5px 0 0 370px; 
}

.gotoTop a {
	display: block;
	overflow: hidden;
	width: 100%;
	height: 0 !important;
	height /**/: 20px;
	padding-top: 20px;
	background: url(../images/Illustration_page/btn_page_top.png) no-repeat top left;
}

.gotoTop a:hover {
	background-position: 0 -20px;
}

.gotoTop a:active {
	backgroudn-position: 0 -40px;
}



/*----------------------メインコンテンツ　下の幅--------------------------*/




/*------------------メインコンテンツ　左側　設定　ここまで-------------------*/



/*------------------メインコンテンツ　右側　設定　ここから-------------------*/

#side {
	float: right;
	width: 160px;
	padding: 10px 0 0 0px;
}

#localNavi {
	width: 160px;
	margin: 0;
	padding: 0;
}

#localNavi li {
	height: 30px;
}

#localNavi a {
	display: block;
	overflow: hidden;
	width: 160px;
	height: 0 !important;
	height/**/: 30px;
	padding-top: 30px;
	background: url(../images/Illustration_page/localnavi.jpg) no-repeat left top;
}


/*-----------------localNavi　個別　設定　ここから-------------------*/
/*-------------リンク　設定　ここから--------------*/

#createIllust a:link {
	background-position: 0 0;
}

#createPop a:link {
	background-position: 0 -30px;
}

#createPractice a:link {
	background-position: 0 -60px;
}

#createSketch a:link {
	background-position: 0 -90px;
}

/*-------------------オンマウス　設定　ここから---------------------*/

#createIllust a:hover {
	background-position: -160px -1px;
}

#createPop a:hover {
	background-position: -160px -31px;
}

#createPractice a:hover {
	background-position: -160px -61px;
}

#createSketch a:hover {
	background-position: -160px -91px;
}

/*-----------------クリック　マウス　設定　ここから--------------------*/

#createIllust a:active {
	background-position: -320px 0;
}

#createPop a:active {
	background-position: -320px -30px;
}

#createPractice a:active {
	background-position: -320px -60px;
}

#createSketch a:active {
	background-position: -320px -90px;
}


/*------------------メインコンテンツ　右側　設定　ここまで-------------------*/


