@charset "utf-8";
/*
 CSS Document  top.css
 
 STONE_RISE　ページ　全体のスタイル設定
 
 */
 
 *html #contents #leftText dl{
	margin: -25px 0 0 0 ;
	padding: 0;
}


 
/*------------------proflieファイル　基本設定　ここから------------------*/

#container {
	width: 720px;
	margin: 10px 15px 30px;
}

#contents {
	width: 550px;
	margin: 0 auto;
	padding: 0 0 30px 0;
	background: #fff;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	border-bottom: 2px solid #ccc;
	position: relative;
}

#contents h2 {
	padding:15px;
}

/*--------------左側　の設定　ここから-------------*/

#leftText {
	float: left;
	width: 150px;
	padding: 0 0 0 35px;
}

#leftText dl {
	width: 100%;
}

#leftText dt {
	width: 120px;
	height: 20px;
}

#leftText dd {
	text-align: center;
	margin: 10px 0 10px 0;
	width: 120px;
	font-size: 75%;
}

/*----------------------右側の設定　ここから----------------------*/

#rightText {
	float: right;
	width: 330px;
	padding: 0 35px 0 0;
}

#rightText p {
	font-size: 90%;
}

/*-------------------戻るボタン　設定　ここから-------------------*/

#gotoIllustPage {
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: 100px;
	height: 30px;
	margin: 0 0 0 415px;
}

#gotoIllustPage a {
	display: block;
	width: 100px;
	overflow: hidden;
	height: 0 !important;
	height /**/: 30px;
	padding-top: 30px;
	margin: 0;
	background: url(../images/Illust_closeUp_page/Illust_closeUp_backBtn.png) no-repeat left top;
}

#gotoIllustPage a:hover {
	background-position: 0 -30px;
}

#gotoIllustPage a:active {
	background-position: 0 -60px;
}





