/* main.css */
/* 2015-06-16 taiti */
@charset "utf-8";

/* logo_header　ロゴの設定 */
.logo_header {
	padding: 8px 15px;
}

/* Accordionの設定 */
header.carousel {
	height: 64%;
}

.slide {
	margin: 51px 0 0 0;
}

.slide a:hover {
	opacity: 0.6;
}

/* footerの設定 */
footer {
	margin: 20px 0 0 0;
}

/* sns iconの設定 */
.footer_sns {
	margin: 0 0 20px -5px;
}

.sns_link {
	padding-left: 0;
}

/* footer navの設定 */
.footer_area {
	margin-left: -20px;
}

.footer_link li {
	padding: 0 0 0 14px;
}

.footer_area {
	padding-left: 12px;
}

.footer_link li a {
	font-size: 1.3em;
	color: #333;
}

.footer_link li i {
	vertical-align: top;
}

/* copyrightの設定 */
.right {
	text-align: right;
}

/* media queryの設定  Lサイズ*/
@media only screen and (min-width: 980px) {
	/* sns iconの設定 */
	.side img {
		height: 60%;
		
	}
}

/* media queryの設定  Mサイズ*/
@media only screen and (min-width: 768px) and (min-width: 989px) {
	
}

/* media queryの設定  Sサイズ*/
@media only screen and (max-width: 480px) and (min-width: 767px) {
	
}

/* media queryの設定  XSサイズ*/
@media only screen and (max-width: 480px) and (min-width: 767px) {
	
}
