@charset "utf-8";
/*
 CSS Document  top.css
 
 STONE_RISE　ページ　全体のスタイル設定
 
 */
 
 /*		スタイル	基本設定　ここから			*/
 
html,body,h1,h2,h3,h4,h5,h6,p,pre,address,ul,li,ol,dl,dt,dd,tabel,th,td,blockquote,q,div {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	border: none;
}

 a:link {
	color: #333; 
	text-decoration: none;
}

a:visited {
	color: #30F;
	text-decoration: none;
}

a:hover {
	color: #FC6;
	text-decoration: none;
}

a:active {
	color: #C63;
	text-decoration: none;
}

body {
	font-size: 100%;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: normal;
	color: #333;
	line-height: 1.5;
	letter-spacing: 0.1em;
	text-align: center;
	background-image: url(../images/body_bg_02_03.png);
}

h1,h2,h3,h4,h5,h6,p,ul,li,dl,dt,dd,a,address{
	text-align: left;
	margin: 0;
	
}


#wrapper {
	width: 750px;
	margin: 5px auto;
	padding: 0;
	position: relative;
	background: #fff3d5;
}

.clearfix:after {
	content:".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

/* hide macie \*/

*html .clearfix {
	height: 1px;
}

.clearfix {
	display: block;
}



 /*		スタイル	基本設定　ここまで			*/

 /*			header　スタイル　ここから			*/
 
#header {
	width: 100%;
	background: #fff;
	height: 278px;
	border-bottom: 2px solid #666;
	text-align: left;
}

#logo {
	margin: 0;
	padding: 0;
	background: url(../images/top_page/logo_onMouse.png) no-repeat left top;
}

#logo a {
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 178px;
	height: 0 !important;
	height /**/: 85px;
	padding-top: 85px;
	background: url(../images/top_page/logo.png) no-repeat left top;
}

#logo a:hover {
	background-image: none;
	background-color: transparent;
}

/*----------------トップイメージ　設定-------------------*/

#topImage {
	margin-top: 0px;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
}

/*-------サイトマップ　設定-------*/

#siteMap {
	position: absolute;
	height: 18px;
	width: 100px;
	top: 10px;
	left: 640px;
	border-bottom: 2px solid #ffbf5a;
	padding: 0 0 0 5px;
}


#siteMap a {
	display: block;
	background: #fff url(../images/top_page/sitemap-arrow.png) no-repeat left center;
	font-size: 65%;
	padding-left: 20px;
}

/*--------------パンくずリスト　設定　ここから--------------*/

#utilityNavi {
	width: 390px;
	margin: 35px 0 0 20px;
	padding: 0;
}

#utilityNavi li {
	float: left;
	width: 130px;
	margin: 0;
	padding: 0;
	font-size: 70%;
}

/*---------パンくず　スターハック　ここから----------*/


/*				Gnavi　スタイル　ここから			*/

#Gnavi {
	width: 750px;
	position: absolute;
	top: 85px;
	left: 0;
}

#Gnavi ul {
	width: 750px;
	margin: 0;
	padding: 0;
}

#Gnavi li {
	float: left;
	width: 150px;
	height: 30px;
	margin: 0;
	padding: 0;
}

/*------------トップページ　設定　------------*/

#homePage a {
	display: block;
	overflow: hidden;
	width: 150px;
	height: 0 !important;
	height /**/: 30px;
	padding-top: 30px;
	background: url(../images/Gnavi/image_01/Gnavi_image_home.png) top left no-repeat;
}

#homePage a:visited {
	background-position: 0 -90px; 
}

#homePage a:hover {
	background-position: 0 -30px; 
}

Page a:active {
	background-position: 0 -60px; 
}



/*----------------------------webページ設定　設定-------------------------------*/

#webPage a {
	display: block;
	overflow: hidden;
	width: 150px;
	height: 0 !important;
	height /**/: 30px;
	padding-top: 30px;
	background: url(../images/Gnavi/image_01/Gnavi_image_web.png) top left no-repeat;
}

#webPage a:visited {
	background-position: 0 -90px; 
}

#webPage a:hover {
	background-position: 0 -30px; 
}

#webPage a:active {
	background-position: 0 -60px; 
}

/*-----------------------Illust　設定-----------------------*/

#illustPage a {
	display: block;
	overflow: hidden;
	width: 150px;
	height: 0 !important;
	height /**/: 30px;
	padding-top: 30px;
	background: url(../images/Gnavi/image_01/Gnavi_image_illust.png) top left no-repeat;
}

#illustPage a:visited {
	background-position: 0 -90px; 
}

#illustPage a:hover {
	background-position: 0 -30px; 
}

#illustPage a:active {
	background-position: 0 -60px; 
}
/*-----------------------proflie　設定-----------------------*/

#profilePage a {
	display: block;
	overflow: hidden;
	width: 150px;
	height: 0 !important;
	height /**/: 30px;
	padding-top: 30px;
	background: url(../images/Gnavi/image_01/Gnavi_image_profile.png) top left no-repeat;
}

#profilePage a:visited {
	background-position: 0 -90px; 
}

#profilePage a:hover {
	background-position: 0 -30px; 
}

#profilePage a:active {
	background-position: 0 -60px; 
}
/*-----------------------Illust　設定-----------------------*/

#contactPage a {
	display: block;
	overflow: hidden;
	width: 150px;
	height: 0 !important;
	height /**/: 30px;
	padding-top: 30px;
	background: url(../images/Gnavi/image_01/Gnavi_image_contact.png) top left no-repeat;
}

#contactPage a:visited {
	background-position: 0 -90px; 
}

#contactPage a:hover {
	background-position: 0 -30px; 
}


#contactPage a:active {
	background-position: 0 -60px; 
}

 
 /*				Gnavi　スタイル　ここまで			*/
 
 /*			header　スタイル　ここまで			*/
 
 /*-------------------メインコンテンツ　リンクエリア　設定　ここから----------------------*/
 
#container {
	width: 720px;
	margin: 10px 15px 30px;
}

#contents {
	float: left;
	width: 485px;
	background: #fff;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	border-bottom: 2px solid #ccc;
	margin: 0;
	padding: 0 0 20px 0;
}

/*-----------------* hack　設定　ここから-----------------*/


/*-------------左側　リンク　設定　ここから-------------*/

#sitemapHeadLine {
	margin: 10px;
}

/*-----------------トップページ　リンク　設定　ここから-----------------*/

#indexHeadLine {
	width: 435px;
	height: 25px;
	margin: 0 0 10px 25px;
}

#indexHeadLine a {
	display: block;
	width: 100%;
	overflow: hidden;
	height: 0 !important;
	height/**/: 25px;
	padding-top: 25px;
	background: url(../images/sitemap_page/map_main_top_page.png) no-repeat left top;
}

#indexHeadLine a:hover {
	background-position: 0 -25px;
}

#indexHeadLine a:active {
	background-position: 0 -50px;
}

/*---------------スター　ハック　ここから--------------*/

*html #indexHeadLine {
	margin: 0 0 10px 5px;
}

/*------------------------コンテンツ　リンク　設定　ここから--------------------------*/

#createBox {
	width: 410px;
	margin: 0 0 0 35px;
}

#createLeft {
	float: left;
	width: 190px;
	margin: 0 30px 0 0;
}

#createRight {
	float: right;
	width: 190px;
}

/*---------------スターハック　設定　ここから------------------*/

*html #createBox {
	width: 410px;
	margin: 0 0 0 5px;
}

*html #createLeft {
	float: left;
	width: 190px;
	margin: 0 25px 0 0;
}

*html #createRight {
	float: right;
	width: 190px;
}

/*------------------サイト製作ページ　リンク　設定　ここから--------------------*/

#web {
	width: 180px;
	margin: 10px 0 0 0px;
}

#web a {
	display: block;
	overflow: hidden;
	width: 100%;
	height: 0 !important;
	height/**/: 25px;
	padding-top: 25px;
	background: url(../images/sitemap_page/map_main_page_jump_web_desgin.png) no-repeat left top;
}

#web a:hover {
	background-position: 0 -25px;
}

#web a:active {
	background-position: 0 -50px;
}

/*-------------------イラスト製作　設定　ここから-------------------*/

#illust {
	width: 180px;
	margin: 10px 0 0 0px;
}

#illust a {
	display: block;
	overflow: hidden;
	width: 100%;
	height: 0 !important;
	height /**/: 25px;
	padding-top: 25px;
	background: url(../images/sitemap_page/map_main_page_jump_Illustration.png) no-repeat left top;
}

#illust a:hover {
	background-position: 0 -25px;
}

#illust a:active {
	background-position: 0 -50px;
}

/*--------------イラスト製作　ローカル　設定　ここから-------------*/

#pageList {
	width: 120px;
	margin: 15px 0 0 40px;
}

#pageList li {
	margin: 0 0 15px 0;
}

#pageList li a {
	display: block;
	width: 100%;
	height: 15px;
	background: url(../images/sitemap_page/map_main_page_jump_arrow.png) no-repeat left center;
	padding-left: 10px;
	font-size: 70%;
}

*html #pageList {
	width: 120px;
	margin: 10px 0 0 45px;
}

*html #createLeft ul li dl {
	margin: -10px 0 0 0;
}

*html #createLeft ul li dl #illust {
	margin: -15px 0 0 0px;
}

*html #createLeft ul li dl #pageList li {
	margin: 0 0 5px 0;
}

/*-------------左側　リンク　設定　ここまで-------------*/

/*-------------右側　リンク　設定　ここから-------------*/

#profileHeadLine {
	margin: 0px 0 10px 0;
}

#contactHeadLine {
	margin: 20px 0 10px 0;
}


.profileArea li a {
	width: 180px;
	padding: 0 0px 0 0px;
	margin: 0 0 0 0px;
}


#profile a {
	width: 180px;
	display: block;
	overflow: hidden;
	height: 0 !important;
	height/**/: 25px;
	padding-top: 25px;
	background: url(../images/sitemap_page/map_main_page_jump_profile.png) no-repeat left top;
}

#profile a:hover {
	background-position: 0 -25px;
}

#profile a:active {
	background-position: 0 -50px;
}

#contact a {
	display: block;
	width: 180px;
	overflow: hidden;
	height: 0 !important;
	height/**/: 25px;
	padding-top: 25px;
	background: url(../images/sitemap_page/map_main_page_jump_contact.png) no-repeat left top;
}

#contact a:hover {
	background-position: 0 -25px;
}

#contact a:active {
	background-position: 0 -50px;
}

/*------------ブログの設定　ここから------------*/
#side {
	float: right;
	width: 210px;
	height: 300px;
	background: url(../images/top_page/top_page_side_bg.png) no-repeat left top;
}


#side p {
	width: 180px;
	margin: 10px 0 0 15px;
	padding: 0;
	font-size: 70%;	
}

#side strong {
	color: #eb6060;
	font-size: 105%;
}

/*-----------ブログのリンク　設定　ここから----------*/

#gotoBlog {
	width: 190px;
	margin: 10px 0 0 10px;
	padding: 0;
}

/*----IE hack----*/

*html #gotoBlog {
	margin: 10px 0 0 0;
}

#gotoBlog li {
	width: 100%;
	height: 40px;
	margin: 0 0 5px 0;
	padding: 0;
}

/*---------pixiv　設定　ここから----------*/

#Pixiv a{
	display: block;
	width: 190px;
	overflow: hidden;
	height: 0 !important;
	height /**/ : 40px;
	padding-top: 40px;
	background: url(../images/top_page/blog_pixiv_btn.png) no-repeat left top;
}

#Pixiv a:visited {
	background-position: 0 -120px;
}
#Pixiv a:hover {
	background-position: 0 -40px;
}
#Pixiv a:active {
	background-position: 0 -80px;;
}

/*---------------ameba　設定　ここから---------------*/

#Ameba a{
	display: block;
	width: 190px;
	overflow: hidden;
	height: 0 !important;
	height /**/ : 40px;
	padding-top: 40px;
	background: url(../images/top_page/blog_ameba_btn.png) no-repeat left top;
}

#Ameba a:visited {
	background-position: 0 -120px;
}
#Ameba a:hover {
	background-position: 0 -40px;
}
#Ameba a:active {
	background-position: 0 -80px;;
}

/*------------facebook　設定　ここから------------*/

#Facebook a{
	display: block;
	width: 190px;
	overflow: hidden;
	height: 0 !important;
	height /**/ : 40px;
	padding-top: 40px;
	background: url(../images/top_page/blog_facebook_btn.png) no-repeat left top;
}

#Facebook a:visited {
	background-position: 0 -120px;
}
#Facebook a:hover {
	background-position: 0 -40px;
}
#Facebook a:active {
	background-position: 0 -80px;;
}

/*----------------twitter　設定　ここから----------------*/
#twitter a{
	display: block;
	width: 190px;
	overflow: hidden;
	height: 0 !important;
	height /**/ : 40px;
	padding-top: 40px;
	background: url(../images/top_page/blog_twitter_btn.png) no-repeat left top;
}

#twitter a:visited {
	background-position: 0 -120px;
}
#twitter a:hover {
	background-position: 0 -40px;
}
#twitter a:active {
	background-position: 0 -80px;;
}


/*-----------ブログのリンク　設定　ここまで----------*/

/*------------ブログの設定　ここまで------------*/


 
 /*-------------------メインコンテンツ　リンクエリア　設定　ここまで----------------------*/
 
 /*----------------footer　エリア　設定　ここまで-----------------*/
 
#footer {
	background-image: url(../images/top_page/footer_bg.jpg);
	background-repeat: no-repeat;
	clear: both;
	height: 80px;
	width: 750px;
	position: relative;
}

/*-------------footer navi　設定　ここから--------------*/

#footer #footerNavi {
	margin-top: 0px;
	margin-left: 20px;
	padding-top: 7px;
}

#footerNavi li {
	float: left;
	display: block;
	height: 15px;
	width: 85px;
	margin-right: 20px;
	font-size: 65%;
	color: #fff;
}

#footerNavi li a {
	display: block;
	height: 15px;
	width: 100px;
	background: url(../images/top_page/footer_navi_arrow.png) no-repeat left center;
	padding: 3px 0 0 5px;
	color: #fff;
	text-align: center;
}

#footerNavi li a:hover {
	color: #FC6;
}



/*-------------footer navi　設定　ここまで--------------*/

/*-------------------コピーライト　設定　ここから---------------------------*/

#copy {
	position: absolute;
	top: 55px;
	left: 380px;
}



 
